<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算器</title>
</head>
<body>
<form action="/newCalculator/" method="post">
    <span>运算数一: </span><input type="text" name="x" value="{{ x }}"/>
    <select name="op">
        <option value="add" {% if op == 'add' %}selected{% endif %}>+</option>
        <option value="sub" {% if op == 'sub' %}selected{% endif %}>-</option>
        <option value="mul" {% if op == 'mul' %}selected{% endif %}>*</option>
        <option value="div" {% if op == 'div' %}selected{% endif %}>/</option>
    </select>
    <span>运算数二: </span><input type="text" name="y" value="{{ y }}"/>
    <span>运算结果: </span><input type="text" name="result" value="{{ result }}"/><br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>