<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MvcStuday</title>
</head>
<body>
<div style="text-align: center;"><h1>htmlName is {{ htmlName }}</h1></div>
<div style="text-align: center;"><h1>function is {{ function }}</h1></div>
<div style="text-align: center;"><h1>object is {{ object.bark }}</h1></div>

{% if function != "" %}
    <div style="text-align: center;"><h1>今天说话了</h1></div>
{% else %}
    <div style="text-align: center;"><h1>今天不说话</h1></div>
{% endif %}

{% for name in nameList %}
    {% if forloop.first %}开始for循环{% endif %}
    <p>姓名{{ forloop.counter }}: {{ name }}</p>
    {% if forloop.last %}结束for循环{% endif %}
{% empty %} 列表无数据
{% endfor %}

</body>
</html>